/* ---------------------------------------------------------------------- */
/*	From Medium Devices Up To Larger Devices
 /* ---------------------------------------------------------------------- */
@media (min-width: 980px) and (max-width: 1199px) {}

@media (min-width: 992px) {
	.mainCenter {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.courses-section .course {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.course-reg {}
}

/* ---------------------------------------------------------------------- */
/*	Only larger Devices
 /* ---------------------------------------------------------------------- */
@media (min-width: 1200px) {}

/* ---------------------------------------------------------------------- */
/*	From Small Devices Up To Medium Devices
 /* ---------------------------------------------------------------------- */
@media (max-width: 991px) {

	.mainCenter {

		text-align: center;

	}

	.mainCenter img {
		width: 70%;
	}

	.courses-section .course {

		text-align: center;

	}

	.courses-section .course img {

		width: 90%;


	}

	.courses-section .course .course-summary {
		text-align: right;
	}




}

/* ---------------------------------------------------------------------- */
/*	Extra Small Devices Only
 /* ---------------------------------------------------------------------- */
@media (max-width: 767px) {}

/* ---------------------------------------------------------------------- */
/*	Extra Small Devices Only
 /* ---------------------------------------------------------------------- */
@media (max-width: 480px) {}

/* ---------------------------------------------------------------------- */
/*	Up To Medium Devices
 /* ---------------------------------------------------------------------- */
@media (max-width: 979px) {}

/* ---------------------------------------------------------------------- */
/*	Up To Medium Devices
 /* ---------------------------------------------------------------------- */
@media (min-width: 768px) {}








.dropdown-content {
padding-top: 15px;
  display: none;
  position: absolute;
  min-width: 300px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  background-color: rgba(41, 7, 46, 0.74);
  color: rgb(255, 254, 254) !important;
  padding: 10px !important;
  text-decoration: none;
  display: block;
  border-bottom: #5d5e5b 1px solid;
  font-size: 14px !important;
}
.dropdown-content a:last-child {

  border-bottom: none;
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #c5d81b !important;
	color: #000 !important;

}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}